<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinepolis</title>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap/css/bootstrap.css">
</head>
<body>

<form action="/Procesar" method="post" class="container">

    <div class="row">
        <div class="col">

            <h1 class="mt-3">ENTRADAS</h1>

            <div class="mb-3">
                <input type="text" name="txtNombre" id="txtNombre" class="form-control" placeholder="NOMBRE">
            </div>
            
            <div class="mb-3">
                <input type="number" name="txtCantidadCompradores" id="txtCantidadCompradores" class="form-control" placeholder="Cantidad De Compradores">
            </div>

            <div class="mb-3">
                <label for="">¿Cuentas con Cineco?</label>
                <br>       
                <div class="form-check form-check-inline">
                    <input type="radio" name="rbCineco" id="rbCinecoSi" class="form-check-input">
                    <label for="rbCinecoSi" class="form-check-label">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" name="rbCineco" id="rbCinecoNo" class="form-check-input">
                    <label for="rbCinecoNo" class="form-check-label">No</label>
                </div>
            </div>

            <div class="mb-3">
                <input type="number" name="txtCantidadBoletos" id="txtCantidadBoletos" class="form-control" placeholder="Cantidad De Boletos">
            </div>

        </div>

        <div class="col">
            <div class="mb-3">
                <input type="number" name="txtCantidadPagar" id="txtCantidadPagar" class="form-control" placeholder="Cantidad A Pagar">
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <input type="submit" name="btnProcesar" value="Procesar" class="btn btn-primary">
                <button class="btn btn-secondary">Salir</button>
            </div>
        </div>
    </div>

</form>

</body>
</html>
