<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap/css/bootstrap.css">

    <style>
        body {
            padding-top: 60px;
            background-color: #f8f9fa; 
        }

        .container {
            background-color: #ffffff; 
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
            border-radius: 10px; 
            margin-top: 20px; 
            padding: 20px; 
        }

        .tr-head {
            background-color: #e0f7fa; 
            padding: 10px;
            border-radius: 8px; 
            margin-bottom: 20px;
        }
    </style>

</head>
<body>

    <div class="container">

        {% block content %}

        {% endblock %}
        
    </div>
</body>
</html>
