{% extends 'container.html' %}

{% block content %}
{% import "input.html" as macros %}
{% import "table.html" as tabla %}

    <div class="jumbotron tr-head">
        <h1 class="display-4">RESISTENCIAS</h1>
    </div>

    <form action="" method="POST" class="mb-4">
        {{ macros.inputSelected(form.tira1) }}
        {{ macros.inputSelected(form.tira2) }}
        {{ macros.inputSelected(form.tira3) }}
        {{ macros.inputSelected(form.tolerancia) }}
        <button type="submit" class="btn btn-primary">Calcular</button>
    </form>

    {{ tabla.tabla(
        ["COLOR1", "COLOR2", "COLOR3", "TOLERANCIA", "VALOR", "VALOR MAXIMO", "VALOR MINIMO"],
        [colores[0], colores[1], colores[2], tolerancia, valor, minimo, maximo]
    ) }}
    
{% endblock %}
